h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 375%;      
  text-align: center;
  margin-bottom: 0%;
}

.subtitle {
  font-family: "Permanent Marker", cursive;
  font-size: 300%;      
  margin-left: 3.5%;    
  margin-top: 2%;
  margin-bottom: 0%;
}

p {
  font-family: "Architects Daughter", cursive;
  font-size: 112.5%;     
  text-align: center;
  margin-top: 1%;
}

li {
  font-family: "Architects Daughter", cursive;
  font-size: 112.5%;     
  margin-left: 2%;
  margin-top: 0%;
}

img {
  width: 45%;           
  height: auto;
  margin-left: 5.5%;   
  margin-top: 1%;
}

.horizontal-container {
  display: flex;
  align-items: flex-start;
  gap: 2%;
}
.p-left {
    font-family: "Architects Daughter", cursive;
  font-size: 112.5%;     
  text-align: left;
  margin-left: 5.5%;
  margin-top: 1%;
}
body {
  background-color: #d0e0e3ff; 
}